/*general*/
*{
    margin:0;
    color: beige;
 ;
}
/*fin general*/

/*header*/
header{
    background-color: #A63740;
}
#tete{
    display: flex;
}
.close{padding: 10px}
.title{
    flex:1;
    text-align: center;
}
/*fin header*/

/*main*/

main{  background: linear-gradient(90deg,rgb(187,48,47), black)transparent 100%; display: flex;flex-direction: row-reverse; justify-content: space-between; 

    /*background-color:#ff0008;*/

    
}

.pics{display: flex;   }
main #imr{  mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0))   ;display: flex ;}


main >#presentation { display: flex; flex-direction: column;justify-content: center;align-items: center;



}
 main #imgz{ display: flex;flex-direction: column; justify-content: flex-start; padding :5%}

.genre >ul li {display: inline;}
.genre >ul li::after {content: " \2022"}





/*#imgz{padding: 5%}/*
/*fin main*/

/*Footer*/
footer{
    background-color: #1D2126;
}
/*fin footer*/
.description_bas {padding: 5%;}
.description_bas > ul li {display: inline ; margin-inline: 3%;}
.description_bas >ul li:hover{background-color: rgb(12, 11, 11);border-bottom: rgb(255, 255, 255);display: inline; }


.photos {display: flex;flex-direction: row;align-items: center; justify-content: space-around; margin-top: 5%;}


.last {display: flex;flex-direction: row;align-items: center;justify-content: space-around; list-style-type: none;}